* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.95rem;
  font-family: "Lato", sans-serif;
  color: #0d0d25;
}

main {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80") no-repeat center/cover;
  width: 100vw;
  height: 100vh;
}
main header {
  width: 100%;
  height: 50px;
}
main header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main header ul {
  display: flex;
  flex-direction: row;
  width: 50%;
}
main header a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #0d0d25;
  padding: 0 15px;
}
@media screen and (max-width: 1130px) {
  main header a {
    display: none;
  }
}
main .icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
}
@media screen and (max-width: 1130px) {
  main .icon-bar {
    width: 40%;
  }
}
main .icon-bar a {
  display: flex;
  flex-direction: row;
  width: 40%;
  color: #ff8800;
  text-decoration: none;
}
@media screen and (max-width: 1130px) {
  main .icon-bar a {
    width: 40%;
  }
}
main .icon-bar .hamburger {
  display: none;
}
@media screen and (max-width: 1130px) {
  main .icon-bar .hamburger {
    display: inline-block;
    width: 40%;
  }
}

.welcome {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  display: flex;
  flex-direction: row;
}

.about {
  width: 100vw;
  height: auto;
  background: url(../images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 9% 150px 40%;
}
@media screen and (max-width: 700px) {
  .about {
    background-position-x: -140px;
  }
}
.about h2 {
  color: #ff8800;
  padding: 0 0 20px;
}
.about h3 {
  font-size: 2.7rem;
  font-family: "Playfair Display", serif;
}
.about p {
  line-height: 30px;
  padding: 30px 0;
}

.order {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order h3 {
  font-size: 2.7rem;
  font-family: "Playfair Display", serif;
  padding: 35px 0 35px;
}
.order .cuisine {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.order .cuisine li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}
.order .cuisine li a {
  text-decoration: none;
  color: #0d0d25;
}
.order .cuisine li .firstlink {
  color: #ff8800;
}
.order .cuisine li:first-child {
  border-bottom: 2px solid #ff8800;
}
.order .gallery {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.order .gallery section:hover .gallery-overlay {
  left: 0;
}
.order .img01 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/fdlZBWIP0aM") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img01 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img01 {
    width: 70%;
  }
}
.order .img02 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/mmnKI8kMxpc") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img02 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img02 {
    width: 70%;
  }
}
.order .img03 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/WbA_PCv3_Co") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img03 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img03 {
    width: 70%;
  }
}
.order .img04 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/SH6vc3VOOwE") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img04 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img04 {
    width: 70%;
  }
}
.order .img05 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/ohnRXPYXDEE") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img05 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img05 {
    width: 70%;
  }
}
.order .img06 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/j3gz0KReZbA") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img06 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img06 {
    width: 70%;
  }
}
.order .img07 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/FFqNATH27EM") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img07 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img07 {
    width: 70%;
  }
}
.order .img08 {
  width: 21%;
  height: 200px;
  margin: 5px 20px;
  background: url("https://source.unsplash.com/RwoKbjJdYvE") no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .order .img08 {
    width: 40%;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 700px) {
  .order .img08 {
    width: 70%;
  }
}
.order .gallery-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f7f7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.8s;
  font-size: 1.4rem;
}
.order .gallery-overlay .stars {
  color: #ffc415;
}
.order .dots {
  color: #ffaa4d;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order .dots li {
  margin: 7px 11px 32px;
}

.book {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://source.unsplash.com/ThtzElwvwyM");
  background-repeat: no-repeat;
  background-size: cover;
}
.book h2 {
  color: #ff8800;
  padding: 47px 0 20px;
}
.book h3 {
  font-size: 2.7rem;
  font-family: "Playfair Display", serif;
}
.book i {
  padding: 12px;
  font-size: 2rem;
  color: #ff8800;
  border: 1px solid #ff8800;
  border-radius: 100%;
  margin: 25px 0 10px;
}
.book a {
  color: #ff8800;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  margin: 10px 10px 20px;
}
.book .skd-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .book .skd-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.book .skd-box section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  margin: 0 0 30px;
}
@media screen and (max-width: 700px) {
  .book .skd-box section {
    background: rgba(255, 136, 0, 0.8);
    color: #fff;
    width: 100%;
    margin: 0;
  }
}
.book .skd-box section span {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.85rem;
}
.book .skd-box section .time {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.book img {
  width: 75%;
  height: auto;
  margin-bottom: 130px;
}
@media screen and (max-width: 700px) {
  .book img {
    display: none;
  }
}

footer {
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  color: #ff8800;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  width: 35%;
  padding-left: 20px;
}

.welcome form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  margin-top: 30px;
}
@media screen and (max-width: 1130px) {
  .welcome form {
    width: 50%;
  }
}
.welcome form input {
  width: 50%;
  height: 100%;
  border: 0;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 10px;
}
@media screen and (max-width: 1130px) {
  .welcome form input {
    width: 100%;
  }
}
.welcome form select {
  height: 100%;
  background-color: #ff8800;
  border: 0;
  color: #f7f7f8;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 10px;
  appearance: none;
}

.about a {
  text-decoration: none;
  color: #f7f7f8;
  background-color: #ff8800;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
}
.about span {
  background-color: #ffaa4d;
  padding: 10px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*# sourceMappingURL=main.css.map */
